# Kopieer dit bestand naar secrets.toml en vul de waarden in.
# secrets.toml staat in .gitignore en wordt NIET meegecommit.

# -- Doelserver (waar dlt de data naartoe schrijft) --
[destination.odiondataplatform]
destination_type = "mssql"
[destination.odiondataplatform.credentials]
host = "<DOELSERVER>"
port = 1433
database = "OdionDataPlatformCC"
driver = "ODBC Driver 17 for SQL Server"
username = ""
password = ""
[destination.odiondataplatform.credentials.query]
trusted_connection = "yes"
Encrypt = "yes"
TrustServerCertificate = "yes"

# -- ORTEC bronserver (roosterdata) --
[sources.ortec.credentials]
host = "<ORTEC_SERVER>"
port = 1433
database = "<ORTEC_DATABASE>"
driver = "ODBC Driver 17 for SQL Server"
username = ""
password = ""
[sources.ortec.credentials.query]
trusted_connection = "yes"
Encrypt = "yes"
TrustServerCertificate = "yes"

# -- Audit-bestanden (lokaal pad waar RPA de Excel-bestanden neerzet) --
[ons_audits]
local_path = "C:\\Users\\adm-chantals\\Odion\\Robot - Audits Exporteren - Documenten\\audits"
